<header>
    <div class="header-content">
        <div class="header-content-inner">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="homeHeading" class="home-title">Publica tu propiedad en el portal Inmobiliario más grande de <span class="bold">Chile</span></h1>
                    <br>
                </div>
                <div id="custom-search-input">
                   <div class="input-group col-md-offset-2 col-md-8">
                       <input type="text" class="search-query form-control" placeholder="Ej: Casa en venta, Santiago" />
                       <span class="input-group-btn">
                           <button class="btn btn-primary btn-md" type="button">
                               <span class=" glyphicon glyphicon-search"></span>
                           </button>
                       </span>
                   </div>
               </div>
               <hr>
           </div>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
            <%= link_to "Publicar", new_publication_path, class: 'btn btn-primary btn-xl'   %>
        </div>
    </div>
</header>