<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Mi Cuenta</title>
</head>
<body>
  <div class="container">
    <section class="my-notices">  
      <div class="row">
        <div class="col-md-12 text-center">
          <% if user_signed_in? %>
          <h1><%= image_tag(current_user.avatar.thumb, class: 'img-profile-account img-circle') %>
            Bienvenido, <%= current_user.name %></h1>
          <% end %>
        </div>
      </div>
      <hr class="separator">
      <!-- Render Mis Avisos -->
      <%= render 'shared/notices' %>
    </section>
  </div>
</body>
</html>
