// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// All-project

.bold {
  font-weight: bold;
}

hr.separator {
  height: 1px; 
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  border-color: darkgray;
  max-width: 100%;
}

.img-ico {
  width: 40px;
}

.img-profile {
  width: 30px;
}

.img-profile-show {
  width: 120px;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.img-size
{
  width: 100px;
}

// Devise Bootstrap

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
}

// Show-property

.title-show {
  margin-top: 60px;
}

.show-information {
  font-size:22px;
  text-align: center;
}

.show-description .show-group, p, li {
  font-size: 20px;
}

.show-seller span {
  margin-top: 10px;
  font-size: 19px;
  line-height: 40px;
  display: block;
}

// Glyphicons

.price-usd {
  color: green;
}

.map-commune {
  color: #FF8C00;
}

.map-region {
  color: #4169E1;
}

.text-center h2 {
  font-size: 30px;
}

.text-description {
  text-align: justify;
}
 
// Index

.show-index-publications {
  font-size: 15px;
}

// My Account

.img-profile-account {
  width: 100px;
}

.img-property-account {
  width: 200px;
}

.check-icon {
  color: green;
  font-size: 25px;
  margin-top: 50%;
}
