// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// All-project

.bold {
  font-weight: bold;
}

hr.separator {
  height: 1px; 
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  border-color: darkgray;
  max-width: 100%;
}

hr.separator-show {
  height: 1px; 
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  border-color: darkgray;
  max-width: 100%;
  margin-bottom: 10px;
}

.img-logo {
  width: 240px;
  margin-top: 9px;
  margin-left: 15px;
}

.img-ico {
  width: 35px;
}

.img-ico-index {
  width: 22px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-index-dollar {
  width: 25px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-show {
  width: 30px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-show-dollar {
  width: 35px;
  margin: 1px;
  margin-bottom: 7px;
}

///////////////

.img-ico-show-photo {
  width: 20px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-show-dollar-photo {
  width: 22px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-profile {
  width: 30px;
}

.img-profile-show {
  width: 120px;
}

/////////////

.img-profile-show-photo {
  margin-left: -70px;
  margin-top: 11px;
  width: 80px;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.img-size {
  width: 100px;
}


// Imágenes Publicaciones Index

.display-index {
  min-height: 414px;
}

.thumbnail a>img {
  min-height: 230px
}


// Últimos avisos

.display-index-latest {
  background-color: red;
  min-height: auto;
}

// Imágenes Show

.carousel-inner>.item>img {
  min-width: 100%;
  min-height: 415px;
  max-height: 415px;
} 

// Devise Bootstrap

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
}

// Show-property

.show-group-description {
  text-align: justify;
  min-height: 200px;
  max-height: 250px;
}

.text-show-property {
  font-size: 17px;
}

.text-show-photo {
  font-weight: bold;
  font-size: 14px;
}

.text-show-photo-email {
  font-weight: bold;
  font-size: 13px;
}

.title-show {
  margin-top: 60px;
}

.show-information {
  font-size:22px;
  text-align: center;
}

.show-description .show-group, p, li {
  font-size: 20px;
}

.show-seller span {
  margin-top: 10px;
  font-size: 19px;
  line-height: 40px;
  display: block;
}

.map-google {
  width: 100%; 
  height: 250px;
  border: 1px;
  border-style: solid;
  border-color: darkgray;

}

// Glyphicons

.price-usd {
  color: green;
}

.map-commune {
  color: #FF8C00;
}

.map-region {
  color: #4169E1;
}

.text-center h2 {
  font-size: 30px;
}

.text-description {
  text-align: justify;
}
 
// Index

.show-index-publications {
  font-size: 15px;
}

// My Account

.img-profile-account {
  width: 100px;
}

.img-property-account {
  width: 200px;
}

.check-icon {
  color: green;
  font-size: 25px;
  margin-top: 50%;
}

@media (min-width: 992px) {
  .form-index {
    width: 100%;
    height: 100vh;
    margin-left: 1px;
  }
}

.title-up {
  margin-top: 45px;
  margin-bottom: 20px;
}

.well > h3 {
  font-size: 20px;
  margin-top: 2px;  
  margin-bottom: 15px;
}

.form-control {
  font-size: 13px;
}