// Place all the styles related to the Publications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// All-project

<<<<<<< HEAD
// Flash-Notices

.notice {
  color: green;
}

.alert {
  color: red;
=======
//Creative

#contact {
  padding: 0;
}

.show-property {
  padding-top: 80px;
  padding-bottom: 0px;
>>>>>>> frontend
}

// Oculta la notificación de Mailing
.alert {
  display: none;
}

.bold {
  font-weight: bold;
}

hr.separator {
  height: 1px; 
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  border-color: darkgray;
  max-width: 100%;
}

hr.separator-show {
  height: 1px; 
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
  border-color: darkgray;
  max-width: 100%;
  margin-bottom: 10px;
}

.img-logo {
  width: 240px;
  margin-top: 9px;
  margin-left: 15px;
}

.img-ico {
  width: 35px;
}

.img-ico-index {
  width: 22px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-index-dollar {
  width: 25px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-show {
  width: 30px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-show-dollar {
  width: 35px;
  margin: 1px;
  margin-bottom: 7px;
}

///////////////

.img-ico-show-photo {
  width: 20px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-ico-show-dollar-photo {
  width: 22px;
  margin: 1px;
  margin-bottom: 7px;
}

.img-profile {
  width: 30px;
}

.img-profile-show {
  width: 120px;
}

/////////////

.img-profile-show-photo {
  margin-left: -70px;
  margin-top: 11px;
  width: 80px;
}

.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.img-size {
  width: 100px;
}


// Imágenes Publicaciones Index

.display-index {
  min-height: 414px;
}

.thumbnail a>img {
  min-height: 230px
}


// Últimos avisos

.display-index-latest {
  background-color: red;
  min-height: auto;
}

// Imágenes Show

.carousel-inner>.item>img {
  min-width: 100%;
  min-height: 415px;
  max-height: 415px;
} 

// Devise Bootstrap

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
}

// Show-property

.show-group-description {
  text-align: justify;
  min-height: 200px;
  max-height: 250px;
}

.text-show-property {
  font-size: 17px;
}

.text-show-photo {
  font-weight: bold;
  font-size: 14px;
}

.text-show-photo-email {
  font-weight: bold;
  font-size: 13px;
}

.title-show {
  margin-top: 60px;
}

.show-information {
  font-size:20px;
  text-align: center;
}

.show-description .show-group, p, li {
  font-size: 20px;
}

.show-seller span {
  margin-top: 10px;
  font-size: 19px;
  line-height: 40px;
  display: block;
}

.map-google {
  width: 100%; 
  height: 250px;
  border: 1px;
  border-style: solid;
  border-color: darkgray;

}

.image-publication {
 position: relative;
}

.img-notice {
  width: 150px;
  position:absolute;
  bottom: 1px;
  right: 1px;
  border:none;
  opacity: 0.8;
}

.img-notice-sale {
  width: 115px;
  position:absolute;
  bottom: 1px;
  right: 1px;
  border:none;
  opacity: 0.8;
}

// Glyphicons

.price-usd {
  color: green;
}

.map-commune {
  color: #FF8C00;
}

.map-region {
  color: #4169E1;
}

.text-center h2 {
  font-size: 30px;
}

.text-description {
  text-align: justify;
}
 
// Index

.btn-new {
  float: right;
  margin-top: 27px;
}

.show-index-publications {
  font-size: 15px;
}

// My Account

.img-profile-account {
  width: 100px;
}

.img-property-account {
  width: 200px;
}

.check-icon {
  color: green;
  font-size: 25px;
  margin-top: 50%;
}

@media (min-width: 992px) {
  .form-index {
    width: 100%;
    height: 100vh;
    margin-left: 1px;
  }
}

.title-up {
  margin-top: 45px;
  margin-bottom: 20px;
}

.well > h3 {
  font-size: 20px;
  margin-top: 2px;  
  margin-bottom: 15px;
}

.form-control {
  font-size: 13px;
}



















.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  font-size: 18px;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
