<div class="container">
  <%= javascript_include_tag "https://www.google.com/jsapi", "chartkick" %>
  <h3>Publicaciones por Día</h3>
  <%= line_chart Publication.group_by_day(:created_at).count %>
</div>